<% content_for(:title, t('.title')) %>
<div class="bg-white min-h-screen overflow-auto">
  <div class="flex flex-col justify-center items-center mt-12 mb-6 md:mb-8 mx-4 md:mx-44">
    <h1 class="text-xl md:text-3xl md:text-3xl lg:text-4xl font-bold text-accent text-center">
      <%= t('.title') %>
    </h1>
  </div>

  <%= form_with(model: @user_profile_form,
                url: user_profile_path,
                local: true,
                data: {turbo: false},
                method: :patch,
                multipart: true)  do |f| %>
      <% if @user_profile_form.errors.any? %>
        <ul>
          <% @user_profile_form.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    <div class="bg-white">
      <div class="flex bg-secondary rounded justify-center px-3 md:px-12 mx-6 md:mx-44 mb-12">
        <div class="flex flex-col w-full mt-6 mb-10 md:mb-6 mx-4 md:mx-6">
          <div class="space-y-4">

            <div class="flex flex-col bg-white rounded p-6">
              <%= f.label(t("activerecord.attributes.profile.name"), class: "block mb-2 text-lg text-nowrap font-medium text-primary") %>
              <%= f.text_field(:name, class: "bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5")  %>
            </div>

            <div class="flex flex-col md:flex-row justify-start items-start md:items-center bg-white rounded p-6 gap-2 md:gap-8">
                <h2 class="block text-lg text-nowrap font-medium text-primary">アバター画像</h2>
                <%= f.file_field :user_icon, class: "file-input file-input-bordered file-input-primary file-input-xs md:file-input-sm w-full" %>
            </div>

            <div class="flex flex-col bg-white rounded p-6">
              <%= f.label(:bio, t("activerecord.attributes.profile.bio"), class: "block mb-2 text-lg text-nowrap font-medium text-primary") %>
              <%= f.text_area(:bio, class: "bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2.5 h-20 text-start align-top", style: "white-space: normal; word-wrap: break-word;") %>
            </div>

            <!-- (本リリース)勉強している言語-分かりやすい文面を付け加える
            <div class="flex flex-col bg-white rounded p-6">
              <%= f.label(t("activerecord.attributes.profile.studying_languages"), class: "block mb-2 text-lg text-nowrap font-medium text-primary") %>
              <%= f.text_field(:studying_languages, class: "bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5") %>
            </div>
            -->

            <div class="flex flex-col bg-white rounded p-6">
              <%= f.label(t("activerecord.attributes.profile.x_link"), class: "block mb-2 text-lg text-nowrap font-medium text-primary") %>
              <%= f.text_field(:x_link, class: "bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5") %>
            </div>

            <div class="flex flex-col bg-white rounded p-6">
              <%= f.label(t("activerecord.attributes.profile.github_link"), class: "block mb-2 text-lg text-nowrap font-medium text-primary") %>
              <%= f.text_field(:github_link, class: "bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5") %>
            </div>

            <!-- 更新ボタン -->
            <div class="flex justify-center mt-12">
              <%= f.submit(t("activerecord.attributes.profile.update"), class: "text-white bg-accent hover:opacity-70 font-medium rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center") %>
            </div>

            <!-- 退会ボタン
            <div class="flex justify-center mt-4">
              <%= f.submit(t("activerecord.attributes.profile.destroy"), class: "btn btn-lg text-white text-center bg-primary text-2xl font-bold rounded-lg w-3/4 h-16") %>
            </div>


            <div class="text-right mt-2 w-3/4 mx-auto">
                <p class="text-sm text-gray-600">
                    ※退会すると全てのデータが削除されます。
                </p>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
