<div class="bg-white min-h-screen overflow-auto">
  <div class="flex flex-col justify-center items-center mt-8 mb-8 mx-4 md:mx-24 lg:mx-72">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-bold text-accent text-center">
        <% content_for(:title, 'マイページ') %>
    </h1>
  </div>

<div class="bg-gray-50 h-max m-5 p-10 flex flex-col ">
    <div class="flex flex-col justify-center items-center">
        <div class="bg-white w-[300px] p-5">
            <div class="flex space-x-5">
                <div class="text-center">
                    <% if @profile.user_icon.attached? %>
                        <%= image_tag @profile.user_icon, class: 'w-14 h-14 rounded-full object-cover border border-primary border-300' %>
                    <% else %>
                        <%= image_tag 'profile_sample.png', class: 'w-14 h-14 rounded-full object-cover border border-primary border-300' %>
                    <% end %>
                </div>
                <div class="text-accent font-bold">
                    <p class="text-2xl"><%= @user.name %></p>
                    <!-- （本リリース）フォロー一覧、フォロワー一覧画面への遷移を実装
                    <div class="flex text-sm space-x-3">
                        <p>フォロー</p>
                        <p>フォロワー</p>
                    </div>
                    -->
                </div>
            </div>

            <div class="flex items-center justify-center text-[25px] space-x-8 my-5">
                <%= link_to "", @profile[:x_link], class: "fa-brands fa-x-twitter" %>
                <%= link_to "", @profile[:github_link], class: "fa-brands fa-github" %>
            </div>

            <div class="bg-gray-50 text-sm mb-5 p-5 text-primary">
                <p><%= @profile.bio %></p>
                <p class="mt-5"><%= @profile[:studying_languages] %></p>
            </div>

            <% if @user == current_user %>
                <div class="bg-gray-50 text-sm flex justify-center p-2 mb-3 text-primary">
                    <span class="material-icons">edit</span>
                    <%= link_to("編集", edit_user_profile_path)%>
                </div>
            <% end %>

            <!--# TODO: （本リリース）バッジ画面への遷移を実装
            <div class="bg-gray-50 text-sm flex justify-center p-2 text-primary">
                <span class="material-icons">
                    workspace_premium
                </span>
                <p>バッジ</p>
            </div>
            -->
        </div>
    </div>

    <!-- ユーザーが投稿した一覧を表示する部分 -->
    <div class="inline-flex flex-col items-center" id="paginate">
        <%= render 'my_quizzes', quizzes: @quizzes %>
    </div>
</div>