<div class="bg-white min-h-screen overflow-auto">
  <div class="flex flex-col justify-center items-center mt-8 mb-8 mx-4 md:mx-24 lg:mx-72">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-bold text-accent text-center">
      <%= t('.change_my_password') %>
    </h1>
  </div>

  <div class="flex bg-secondary rounded justify-center mx-4 md:mx-12 lg:mx-48 mb-8 md:mb-12">
    <div class="flex flex-col w-full mt-6 mb-6 mx-4 md:mx-12 lg:mx-24 space-y-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="field">
          <%= f.label :password, t('.change_your_password'), class: 'block mb-2 text-sm md:text-lg text-nowrap font-medium text-primary' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2 md:p-3.5', placeholder: t('devise.sessions.new.password_placeholder'), autofocus: true, autocomplete: "new-password" %>
        </div>
      
        <div class="field mt-4 md:mt-8">
          <%= f.label :password_confirmation, t('.confirm_new_password'), class: 'block mb-2 text-sm md:text-lg text-nowrap font-medium text-primary' %>
          <%= f.password_field :password_confirmation, class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2 md:p-3.5', placeholder: t('devise.sessions.new.password_placeholder'), autocomplete: "new-password" %>
        </div>
      
        <div class="actions mt-8 md:mt-12 flex justify-center">
          <%= f.submit t('.new_password'), class: 'text-white bg-accent hover:opacity-70 font-medium rounded-lg text-lg w-64 px-5 py-2.5 text-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
