<div class="bg-white">
  <div class="flex flex-col justify-center items-center mt-6 mb-6 mx-72">
    <h1 class="text-3xl font-bold text-accent text-center"><%= t('.title') %></h1>
  </div>

  <% if @contact.errors.any? %>
    <ul>
      <% @contact.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="flex bg-secondary rounded justify-center mx-48 mb-12">
    <div class="flex flex-col w-full mt-6 mb-6 mx-24">
      <div class="space-y-4">
        <%= form_with model: @contact do |f| %>
          <div class="flex flex-col bg-white rounded p-6">
            <%= f.label :name, class: 'block mb-2 text-lg text-nowrap font-medium text-primary' %>
            <%= f.text_field :name, class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2.5', placeholder: t('.name_placeholder') , required: true %>
          </div>
          <div class="flex flex-col bg-white rounded p-6">
            <%= f.label :email, class: 'block mb-2 text-lg text-nowrap font-medium text-primary' %>
            <%= f.text_field :email, class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2.5', placeholder: t('.email_placeholder'), required: true %>
          </div>
          <div class="flex flex-col bg-white rounded p-6">
            <%= f.label :title, class: 'block mb-2 text-lg text-nowrap font-medium text-primary' %>
            <%= f.text_field :title, class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2.5', placeholder: t('.title_placeholder'), required: true %>
          </div>
          <div class="flex flex-col bg-white rounded p-6">
            <%= f.label :text, class: 'block mb-2 text-lg text-nowrap font-medium text-primary' %>
            <%= f.text_area :text,
                class: 'bg-white border border-gray-300 text-sm w-full rounded-lg focus:ring-primary focus:border-primary block p-2.5',
                placeholder: t('.text_placeholder'),
                required: true,
                rows: 5 %>
          </div>
          <div class="flex justify-center">
          <%= f.submit t('.submit'), class: 'text-white bg-accent hover:opacity-70 font-medium rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center mt-6' %>
          </div>
          <div>
            <p class="text-black">Xに共有</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>