<div class="bg-white min-h-screen overflow-auto">
  <div class="flex flex-col justify-center items-center mt-8 mb-8 mx-4 md:mx-24 lg:mx-72">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-bold text-accent text-center">
      <% content_for(:title, "クイズ一覧: #{@tag.name}") %>
    </h1>
  </div>

  <div class="flex flex-col justify-center">
    <div class="flex justify-center items-center mb-4 md:mb-6">
      <!-- プルダウンメニュー -->
      <select id="tag-select" 
        class="select w-xs md:w-sm h-12 rounded-lg text-xl md:text-3xl font-bold text-nowrap text-white text-center">
        <% @tags.each do |tag| %>
          <option value="/tags/<%= tag.id %>" data-color="<%= tag.data_color %>">
            <%= tag.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div id="quiz_content" class="bg-secondary rounded-lg p-6 m-6 md:m-10">
      <% if @quizzes.blank? %>
        <div class="flex items-center justify-center">
          <div class="text-center text-2xl font-bold text-accent">
            クイズがありません。
          </div>
          <%= link_to new_quiz_post_path, class: "btn btn-primary" do %>
            クイズを作成する
          <% end %>
        </div>
      <% else %>
        <div class="flex flex-wrap justify-center gap-6">
          <% @quizzes.each do |quiz| %>
            <%= render partial: "quizzes/lg_card", locals: { quiz: quiz } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="flex justify-center gap-2">
      <%= paginate @quizzes %>
    </div>
  </div>
</div>
