<div class="bg-secondary grid-item rounded p-6 flex-1 my-1">
  <p class="text-accent text-lg">
    <%= quiz.title %>
  </p>
  <div class="flex gap-1 items-center">
    <% if quiz.user&.profile&.user_icon&.attached? %>
      <%= image_tag quiz.user.profile.user_icon, class: 'w-6 h-6 rounded-full object-cover border border-primary border--300' %>
    <% else %>
      <%= image_tag 'profile_sample.png', class: 'w-6 h-6 rounded-full object-cover border border-primary border--300' %>
    <% end %>
    <p><%= quiz.user&.name || "作者不明" %></p>
  </div>
  <div class="flex mt-2">
    <%= render partial: "tags/buttons/tags", locals: { tags: quiz.tags } %>
    <p class="ml-2"><%= quiz.created_at.strftime('%Y/%m/%d') %></p>
  </div>
</div>
