<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/d01e4a84b1.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <!-- Google Analytics (gtag.js) -->
    <% if Rails.env.production? && config.GA_MEASUREMENT_ID.present? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.config.GA_MEASUREMENT_ID %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= Rails.application.config.GA_MEASUREMENT_ID %>');
      </script>
    <% end %>
      <!-- Google Analytics 終了 -->

    <!-- OGP用の記述 -->
    <%= display_meta_tags %>
  </head>

  <body class="font-mplus">
    <%= render 'shared/header' %>
    <%= render 'devise/shared/flash_messages' %>
    <main class="pt-24">
    <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
